

nav ul li{
    float: right;
    display: inline;
    padding-left: 20px;

}



div p {
    text-align: center;
    background-color: rgb(49, 226, 226);
    font-size: 25px;
    

}

div ul h3 {
    background-color: salmon;
    margin-top:25px;
    padding-left: 20px;
    
}


div h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    background-color: rgb(142, 226, 178);
    text-align: center;
    padding: 10px;
}

div ol {
    text-align: left;
    font-size: 30px;
    margin: auto;
    color: rgb(228, 2, 2);
  
}

div ol li {
    font-family: cursive;
    
}
footer {
    padding: 10px;
font-family: monospace;}
